{% load static %}

<div class="card bg-black text-white">
    <div class="card-header h5 mb-0 font-weight-bold">
        Contactame
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <a href="https://acortar.link/8L2zLI" class="footer__link text-decoration-none">
                <img src="{% static 'portafolio/logos/icons8-linkedin.svg' %}" class="footer__icon">
            </a>
            <a href="https://wa.link/ovfy98" class="footer__link text-decoration-none">
                <img src="{% static 'portafolio/logos/icons8-whatsapp.svg' %}" class="footer__icon">
            </a>
            <a href="https://t.me/JorgeBadran" class="footer__link text-decoration-none">
                <img src="{% static 'portafolio/logos/icons8-telegram.svg' %}" class="footer__icon">
            </a>
            <a href="https://github.com/JorgeBadran" class="footer__link text-decoration-none">
                <img src="{% static 'portafolio/logos/icons8-github.svg' %}" class="footer__icon">
            </a>
        </blockquote>
    </div>
</div>



<!--
</a>
<a href="https://github.com/JorgeBadran" class="">
    <img src="{% static 'portafolio/logos/icon' %}" alt="">

</a>
-->


<!-- 
    <div class="footer">
    <div class="footer__container container">

        <div class="footer__contact">
            <div class="footer__texts">

                <div class="footer__social">
                    <a href="https://acortar.link/8L2zLI" class="footer__link">
                        <img src="{% static 'portafolio/logos/icons8-linkedin.svg' %}" class="footer__icon">
                    </a>
                    <a href="https://wa.link/ovfy98" class="footer__link">
                        <img src="{% static 'portafolio/logos/icons8-whatsapp.svg' %}" class="footer__icon">
                    </a>
                    <a href="https://t.me/JorgeBadran" class="footer__link">
                        <img src="{% static 'portafolio/logos/icons8-telegram.svg' %}" class="footer__icon">
                    </a>
                    <a href="https://github.com/JorgeBadran" class="footer__link">
                        <img src="{% static 'portafolio/logos/icons8-github.svg' %}" class="footer__icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 -->