{% load static %} 


{% block footer %}

<div class="footer">
    <div class="footer__container container">

        <div class="footer__contact">
            <div class="footer__texts">

                <div class="footer__social">
                    <a href="https://acortar.link/8L2zLI" class="footer__link">
                       <img src="{% static 'portafolio/logos/icons8-linkedin-50.png' %}" class="footer__icon">
                    </a>
                    <a href="https://wa.link/ovfy98" class="footer__link">
                       <img src="{% static 'portafolio/logos/icons8-whatsapp-64.png' %}" class="footer__icon">
                    </a>
                    <a href="https://t.me/JorgeBadran" class="footer__link">
                       <img src="{% static 'portafolio/logos/icons8-telegram-64.png' %}" class="footer__icon">
                    </a>
                    <a href="https://github.com/JorgeBadran" class="footer__link">
                       <img src="{% static 'portafolio/logos/icons8-github-64.png' %}" class="footer__icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock footer %}
<!--
</a>
<a href="https://github.com/JorgeBadran" class="">
    <img src="{% static 'portafolio/logos/icon' %}" alt="">

</a>
-->