body {
    background:#090126;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.footer__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
}