body {
    background:#090126;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    padding: 0 2rem;
}